{% extends "timelapse/main.html" %}
{% block Title %} Upload {% endblock Title %}
{% block content %}
    <button class="position-absolute btn btn-light bg-darkmint outline-darkmint text-light btn-lg m-3 end-0" onclick="window.location.href='/home'">Home</button>
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-12 align-items-center h-auto w-auto">
                <div class="bg-darkmint text-orange w-auto p-1 m-2"><p class="h1 text-orange">Upload</p></div>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="video" class="form-label">Video</label>
                        <input type="file" class="form-control" id="video" name="video">
                    </div>
                    <button type="submit" class="btn bg-darkmint btn-lg text-orange">Upload</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}